@import (less) "style/select2.less";
// .select2-container--default
//   .select2-results__option--highlighted[aria-selected] {
//   background-color: #606;
//   color: white;
// }
// .select2-container--default .select2-results__option[aria-selected="true"] {
//   background-color: gray;
// }
/*
p {
  font-size: 20px;
  font-weight: bold;
  em {
    background: yellow;
    padding: 5px;
  }
}
ul {
  font-size: 15px;
  li {
    font-size: 15px;
  }
}
input {
  width: 92%;
  height: 30px;
  margin: 2%;
  padding: 2%;
}
.k-out {
  display: none;
}
*/
